<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemotDesktopEnabler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RemotDesktopEnabler.Properties.Settings>
            <setting name="RdpTcpPort" serializeAs="String">
                <value>3389</value>
            </setting>
            <setting name="RdpUdpPort" serializeAs="String">
                <value>3389</value>
            </setting>
            <setting name="RdpScope" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FirewallRuleName" serializeAs="String">
                <value>RDPEnabler</value>
            </setting>
        </RemotDesktopEnabler.Properties.Settings>
    </userSettings>
</configuration>